$nodeColor: $lightViolet;

.srd-node--selected {
  .square-node.action-node .node-container {
    box-shadow: 0 0 10px $nodeColor;
  }
}

.action-node {
  .node-container {
    border: solid 2px $nodeColor;
    color: $nodeColor;
  }

  &__title {
    color: $nodeColor;
  }

  &__left,
  &__right {
    .port {
      box-shadow: 0 0 10px $nodeColor;

      &:hover,
      &.selected {
        background: $nodeColor;
      }
    }
  }
}
