
$nodeColor: $lightGreen;

.srd-node--selected {
  .square-node.trigger-node .node-container { 
    box-shadow: 0 0 10px rgba(0,0,0, 0.5), 0 0 40px $nodeColor;
  }
}

.trigger-node {
  .node-container{
    border: solid 2px $nodeColor;
  }

  &__title {
    color: $nodeColor;
  }

  &__left, &__right{
    .port {
      box-shadow: 0 0 10px $nodeColor;

      &:hover, &.selected {
        background: $nodeColor;
      }
    }
  }
}