
$nodeColor: $lightRed;

.srd-node--selected {
  .diamond-node.segment-node .node-container { 
    box-shadow: 0 0 10px rgba(0,0,0, 0.5), 0 0 40px $nodeColor;
  }
}

.segment-node {
  .node-container{
    border: solid 2px $nodeColor;
  }

  &__title {
    color: $nodeColor;
  }

  &__left, &__right, &__bottom{
    .port {
      box-shadow: 0 0 10px $nodeColor;

      &:hover, &.selected {
        background: $nodeColor;
      }
    }
  }
}