// .srd-node--selected {
//   .square-node, .round-node, .diamond-node {
//     &__title {
//       font-weight: 600;
//     }
//   }
// }


.square-node, .round-node, .diamond-node {
  background-color: transparent;

  display: flex;
  flex-direction: column;
  align-items: center;

  // max-width: 150px;
  width: 150px;

  .node-container {
    position: relative;
    display: flex;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 5px;

    overflow: visible;
    background-color: white;

    transition: all .15s;
  }

  &__title {
    display: flex;
    // white-space: nowrap;
    text-align: center;

    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;

    > * {
      align-self: center;
    }
    .fa {
      padding: 5px;
      opacity: 0.2;
      cursor: pointer;

      &:hover {
        opacity: 1.0;
      }
    }
  }

  &__name {
    flex-grow: 1;
    padding: 5px 0;
  }

  &__ports {
    display: flex;
    background-image: none;
    width: 100%;
    
  }

  &__left, &__right, &__bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .port {
      border-radius: 13px;
      width: 13px;
      height: 13px;

      position: relative;
      background: white;
      &:hover, &.selected {
        background:#a291fb;
      }
    }
  }

  &__left {
      align-items: flex-start;
      .port {
        left: -6.5px;
      }
  } 
  
  &__right {
      align-items: flex-end;
      .port {
        right: -6.5px;
      }
  }

  &__bottom {
    align-items: center;
    .port {
      bottom: -6.5px;
    }
  }

  &__icon {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.round-node {
  .node-container{
    // width: 75px;
    // height: 75px;
    // border-radius: 75px;
    border-radius: 50px;
  }
}

.diamond-node {
  &__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

